
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="middle">

    <a href='@Url.Action("SunSign", "Projects")'>
        <img src="~/Content/images/sunsign.png" class="img-responsive images" />
    </a>

    <a href='@Url.Action("Cloudify", "Projects")'>
        <img src="~/Content/images/cloudify.png" class="img-responsive images" />
    </a>

    <a href='@Url.Action("Hemlock", "Projects")'>
        <img src="~/Content/images/roadhouse.png" class="img-responsive images" />
    </a>

    <a href='@Url.Action("SafteyButton", "Projects")'>
        <img src="~/Content/images/vanhacks.jpg" class="img-responsive images" />
    </a>

    <a href='@Url.Action("TracingPaper", "Projects")'>
        <img src="~/Content/images/tracingpaper.jpg" class="img-responsive images"  />
    </a>

    <a href='@Url.Action("ContactMe", "Projects")'>
        <img src="~/Content/images/owlmail.jpg" class="img-responsive images" />
    </a>
        </div>
</div>